{% extends 'baseapp/admin_base.html' %}
{% load static %}
{% block content %}
{%include 'baseapp/admin_dashboard_cards.html'%}
<br><br><br><br>
<div class="container">
  <div class="row">
    <div class="panel panel-primary" style="margin-left:2%;">
      <div class="panel-heading" style="text-align:center;">
        <h6 class="panel-title">Recent Consultants</h6>
      </div>
      <table class="table table-hover" id="dev-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Specialization</th>
            <th>Availability Status</th>

          </tr>
        </thead>
        {% for consultant in consultants %}
        <tr>
          <td>{{consultant.get_name}}</td>
          <td>{{consultant.email}}</td>
          <td>{{consultant.specialization}}</td>
          {%if consultant.status%}
          <td> <span class="label label-primary">Active</span></td>
          {% else %}
          <td> <span class="label label-success">Not Active</span></td>
          {% endif %}

        </tr>
        {% endfor %}
      </table>
    </div>

    <div class="panel panel-primary" style="margin-left:5%;">
      <div class="panel-heading" style="text-align:center;">
        <h6 class="panel-title">Recent Client</h6>
      </div>
      <table class="table table-hover" id="dev-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Register Date</th>
            <th>Status</th>

          </tr>
        </thead>
        {% for client in clients %}
        <tr>
          <td> {{client.get_name}}</td>
          <td>{{client.email}}</td>
          <td>{{client.gender}}</td>
          <td>{{client.siteRegisterDate}}</td>
          {%if client.status%}
          <td> <span class="label label-primary">Active</span></td>
          {% else %}
          <td> <span class="label label-success">Not Active</span></td>
          {% endif %}

        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>



{% endblock content %}
